### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [3]:
#Grab total players and display in a dataframe
total_players = purchase_data['SN'].nunique()
total_df = pd.DataFrame({'Total Players': total_players}, index=['Total'])
total_df

       Total Players
Total            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Run calculations to find purchasing information
unq_items = purchase_data['Item Name'].nunique()
avg_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

#Create summary dataframe then format and display the data
summary_df = pd.DataFrame({'Unique Items': unq_items, 
                           'Avg. Price': avg_price,
                           'Total Purchases': total_purchases,
                           'Total Revenue': total_revenue}, index = [0])

#Format dataframe
summary_df.style.format({'Avg. Price': '${:,.2f}',
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Drop duplicates to get accurate gender percentages
drop_duplicate_df = purchase_data.drop_duplicates(subset=['SN'])

In [8]:
#Replace Other/Non-Disclosed into OtherNA to get rid of divisor character
drop_duplicate_df['Gender'].replace({'Other / Non-Disclosed': 'OtherNA'}, inplace=True)
drop_duplicate_df.head()

C:\Users\colle\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [32]:
#Group by gender and count gender group totals
gender_group = purchase_data.groupby('Gender')
gender_count = gender_group.nunique()['SN']

#Calculate percentages for dataframe
pct_gender = gender_count/total_players * 100

#Create dataframe
gender_dems_df = pd.DataFrame({'Total Count': gender_count,
                               'Percentage of Players': pct_gender}, index=None)

#Format dataframe
gender_dems_df = gender_dems_df.rename_axis(index=None)
gender_dems_df.style.format({'Percentage of Players': '{:,.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
#Group by gender and count gender group totals
gender_group = purchase_data.groupby('Gender')
gender_count = gender_group.nunique()['SN']

#Calculate data for dataframe
purchase_count = gender_group['Purchase ID'].count()
avg_purchase_price = gender_group['Price'].mean()
total_purchase_value = gender_group['Price'].sum()
avg_purchase_per_person = total_purchase_value/gender_count

#Create dataframe
gender_analysis_df = pd.DataFrame({'Purchase Count': purchase_count,
                                   'Avg. Purchase Price': avg_purchase_price,
                                   'Total Purchase Value': total_purchase_value,
                                   'Avg. Total Purchase Per Person': avg_purchase_per_person})

#Format dataframe
gender_analysis_df.index.name = None
gender_analysis_df.style.format({'Avg. Purchase Price': '${:,.2f}',
                                 'Total Purchase Value': '${:,.2f}',
                                 'Avg. Total Purchase Per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:
#Define age bins
age_bin = [0,9,10,14,19,25,27,37,40,45]
age_cats = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45+']

#Categorize players using bins
purchase_data ['Age Group'] = pd.cut(purchase_data['Age'], age_bin, labels=age_cats)

#Group by age group
ages_grouped = purchase_data.groupby('Age Group')

#Count and percentage
age_total_count = ages_grouped['SN'].nunique()
pct_age = (age_total_count/total_players) * 100

#Create new dataframe
age_df = pd.DataFrame({'Total Count': age_total_count,
                       'Percentage of Players': pct_age})

#Format dataframe
age_df.style.format({'Percentage of Players': '{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
#Calculating numbers/percentages by age group
age_purchase_count = ages_grouped['Purchase ID'].count()
age_avg_purchase_price = ages_grouped['Price'].mean()
age_total_purchase_value = ages_grouped['Price'].sum()
age_avg_purchase_per_age = age_total_purchase_value/age_total_count

#Define dataframe
age_df_purch = pd.DataFrame({'Purchase Count': age_purchase_count, 
                       'Avg. Purchase Price': age_avg_purchase_price,
                       'Total Purchase Value': age_total_purchase_value,
                       'Avg. Purchase Total Per Person': age_avg_purchase_per_age})

#Format dataframe
age_df_purch.style.format({'Avg. Purchase Price': '${:,.2f}',
                           'Total Purchase Value': '${:,.2f}',
                           'Avg. Purchase Total Per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [82]:
#Group values together to get unique value groups
top_spenders_unq = purchase_data.groupby('SN')

#Calculate numbers/percentages per individual
spender_purchase_count = top_spenders_unq['Purchase ID'].count()
spender_avg_purchase_price = top_spenders_unq['Price'].mean()
spender_total_purchase_value = top_spenders_unq['Price'].sum()

#Define dataframe
spenders_df = pd.DataFrame({'Purchase Count': spender_purchase_count,
                            'Avg. Purchase Price': spender_avg_purchase_price,
                            'Total Purchase Value': spender_total_purchase_value})

#Sort dataframe by purchase value
spenders_formatted = spenders_df.sort_values(['Total Purchase Value'], ascending=False).head()


#Format dataframe
spenders_formatted.style.format({'Avg. Purchase Price': '${:,.2f}',
                                 'Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:
#Retrieving Item ID, Item Name, and Item Price
pop_items = purchase_data[['Item ID', 'Item Name', 'Price']]

#Group by Item ID and Item Name
pop_grouped = pop_items.groupby(['Item ID', 'Item Name'])

#Calculate numbers for dataframe
pop_purchase_count = pop_grouped['Item ID'].count()
pop_avg_item_price = pop_grouped['Price'].mean()
pop_total_purchase_value = pop_grouped['Price'].sum()

#Define dataframe
pop_df = pd.DataFrame({'Purchase Count': pop_purchase_count,
                       'Avg. Item Price': pop_avg_item_price,
                       'Total Purchase Value': pop_total_purchase_value})

#Sort dataframe by purchase count and format the new dataframe
pop_formatted = pop_df.sort_values(['Purchase Count'], ascending=False).head()

pop_formatted.style.format({'Avg. Item Price': '${:,.2f}',
                            'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
#Sort above dataframe by total purchase value 
pop_formatted = pop_df.sort_values(['Total Purchase Value'], ascending=False).head()

pop_formatted.style.format({'Avg. Item Price': '${:,.2f}',
                            'Total Purchase Value': '${:,.2f}'})